@font-face {
    font-family: "Sims LLHP";
    src: url(../fonts/SimsLLHP.ttf);
}

@font-face {
    font-family: "Kabel";
    src: url('../fonts/Kabel Medium Regular.ttf');
}
body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: white;
        min-height: calc(100vh - 16.4rem); /*  Sticky footer */
    }

    .smform {
        height: calc(100vh - 16.4rem);
    }
}

.s3eps {
    width: 24px;
    image-rendering: high-quality;
}

.s4eps {
    width: 30px;
    image-rendering: high-quality;
}

#message {
    z-index: 99999;
}

[x-cloak] { display: none !important; }

.hptrap {
    display: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.bg {
    background-image: url("6.jpg");
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: "Sims LLHP";
}

h1, h2, h3, h4 {
    font-family: "Kabel";
}

/* Sidebar */
.sidebar {
    background-color: #1266f1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active[data-mdb-color=info] {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}