<!--Main layout-->
	<div class="container pt-5 smform">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<div class="card text-center">
					<div class="card-header p-4">
						<h2 class="mb-0">Forgot Password</h2>
					</div>
					<div class="card-body p-4">
						<p class="mb-4">Enter your email address and we’ll send a link to reset your password</p>

						<form action="/lostpassword" class="mb-4">
							<div class="form-outline mb-4">
								<input type="email"  name="email" id="email" required autofocus class="form-control" />
								<label class="form-label" for="email">Your e-mail address</label>
							</div>
							<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
							<button type="button" name="reset_pw" class="btn btn-primary">Request password</button>
						</form>

						<div class="d-flex justify-content-between align-items-center mb-2">
							<u><a href="/login">Back to Log In</a></u>
							<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
							<u><a href="/register">Register</a></u>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--Main layout-->